orchustr_version: "0.1.3"
project:
  name: {{project_name}}
  language: {{language}}
  provider: {{provider}}

graph:
  $ref: ./graph.yaml

observability:
  enabled: true
  dashboard_port: 7700

mcp_servers: []
